h1 {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.container{

    width:500px
}
.caseblock{
    width:100%
}

.caseblock div{
    margin:10px;
    width: 221px;
    height: 240px;
    display:inline-block;
    overflow: hidden;

}
.hero-unit {
    background-color: #FFF;
    border-bottom: 1px solid #DEDEDE;
    box-shadow: 0px 1px 4px #888;
    clear: both;
    color: #2D3033;
    float: none;
    height: auto;
    overflow: hidden;
    padding: 33px 33px 44px;
    position: static;
    text-decoration: none;
    text-shadow: none;
    transition: background-color 0.25s ease 0s;
    width: auto;
    border-radius: 0px;
}
.hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    border-radius: 6px;
}